{% extends "layouts/main.html" %}

{% block head %}{% endblock %}

{% block body %}
  
  <div class="page-wrap">

    <aside class="sidebar"></aside>

    <div class="show-page organizations">

      <header>
        <h1>{{ organization.name }}</h1>
        <table>
          <tr>
            <td>Owner</td> <td>{{ organization.owner }}</td>
          </tr>
          <tr>
            <td>Address</td> <td>{{ organization.address }}</td>
          </tr>
        </table>
      </header>

      <div>
        <header class="flex-row">
          <h4 class="grow">Buildings</h4>
          <a href='buildings/new'>Add new</a>
        </header>

        {% for building in organization.buildings %}
          <div class="building">
            <header>
              <a href='/buildings/{{ building._id }}'><h2>{{ building.name }}</h2></a>
              <p>{{ building.address }}</p>
            </header>

            <table>
            {% for floor in building.floors %}
            
              <tr class="floor">
                <td>Floor {{floor.number}}</td>
            
                {% if floor.demisings.length > 0 %}
                  {% for suite in floor.demisings[0].suites %}
            
                    <td><a href="/suites/{{ suite.id }}">{{ suite.number }}</a></td>
            
                  {% endfor %}
                {% endif %}
            
              </tr>
    
            {% endfor %}
            </table>
          </div>
        {% endfor %}
      </div>

    </div>

  </div>

{% endblock %}