{% extends "layouts/main.html" %}
{% block body %}
<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>

          <p>
            <strong>id</strong>:  {{ user._id }}<br>
            <strong>email</strong>:  {{ user.email }}<br>
            <strong>password</strong>:  {{ user.password }}
          </p>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <h3></span>Examples</h3>

          <p>
            <strong>Debug</strong>:  <a href="app?client=floored&project=debug">link</a><br>
            <strong>Test</strong>:  <a href="app?client=floored&project=test">link</a><br>
            <strong>ESB</strong>:  <a href="app?client=floored&project=esb">link</a>
          </p>

          <a href='/organizations/'>View organizations</a> or <a href='/organizations/new'>Add new</a>

      </div>
    </div>

  </div>

</div>
{% endblock %}