{% extends "layouts/main.html" %}

{% block head %}{% endblock %}

{% block body %}
<div id="app" class="loading">

  <div id="panel">
    <div>

      <section class="list">
        <h3>Test Fits</h3>
        <button class="btn new plus"></button>
        <div class="scroll">
          <ul></ul>
        </div>
        <div class="grow"></div>
        <button class="btn next">Customize</button>
      </section>

      <section class="new">
        <header>
          <p>Create a new test fit</p>
          <p>Pick a starting point</p>
        </header>
        <button class="btn close">X</button>
        <div class="scroll">
          <ul></ul>
          <!-- <ul></ul> -->
        </div>
        <div class="grow"></div>
        <button class="btn next">Customize</button>
      </section>

      <section class="editor no-selection">
        <header>
          <h3>Replace With…</h3>
          <span>Click on a tile to select&nbsp;it.</span>
        </header>
        <div class="scroll">
          <ul></ul>
          <p>Select two or three adjacent tiles.</p>
          <ul class="big"></ul>
        </div>
        <div class="grow"></div>
        <button class="btn save">Save Test Fit</button>
      </section>

    </div>
  </div>

  <div id="protofit">

    <div id="svg-wrap">
      <div id='svg'>  
        <div id='svg-bg' class='bg'></div>
      </div>
    </div>

    <button id="editor-done-btn" class="btn deselect">Deselect All</button>

    <div id="project-north">
      <div id="north-arrow"></div>
      <span>N</span>
    </div>

    <div id="loading" class="spin"></div>

    <aside>
      <div>
        <div id="project-title"></div>
        <div id="project-address"></div>
        <hr />
        <div id="project-logo"></div>
        <hr class="logo-hr" />
      </div>
      <div id="rsf">
        <div>
          <span>RSF</span>
          <input id="rsf-input" type="number" />
        </div>
        <hr />
      </div>
      <div id="info"></div>
      <hr />
      <div id="measurement">
      </div>
      <div class="grow"></div>
      <div class="info-buttons">
        <button id="share-btn" class="btn share">Share…</button>
        <button id="change-btn" class="btn measure change">Request a Change</button>
      </div>
      <div id="powered-by">
        <hr />
        <span class="uppercase">Powered by </span><span class="logotype">Floored</span>
      </div>
    </aside>

  </div>
</div>
{% endblock %}