{% extends "layouts/main.html" %}

{% block head %}{% endblock %}

{% block body %}
<!-- <header id="site-header">
  <div class="logo"></div>
  <input type="text" />
</header> -->

<div id="app" class="loading">

  <div id="panel">

      <section class="list">
        <header>
          <button class="back"></button>
          Protofit
        </header>
        <h3>Test Fits</h3>
        <button class="btn new plus"></button>
        <div class="scroll">
          <ul></ul>
          <h3>Templates</h3>
          <ul></ul>
        </div>
        <div class="grow"></div>
        <button class="btn edit">Edit</button>
      </section>

      <section class="new dark">
        <header>
          <h3>New test fit</h3>
          <p>Pick a layout to start.</p>
        </header>
        <button class="btn close x"></button>
        <div class="scroll">
          <ul></ul>
          <h3>Templates</h3>
          <ul></ul>
        </div>
        <div class="grow"></div>
        <button class="btn edit">Create new test fit</button>
      </section>

      <section class="editor no-selection dark">
        <header>
          <h3>Replace With…</h3>
          <span>Click on a tile to select&nbsp;it.</span>
        </header>
        <div class="scroll">
          <ul></ul>
          <p>Select two or three adjacent tiles.</p>
          <ul class="big"></ul>
        </div>
        <div class="grow"></div>
        <button class="btn cancel">Cancel</button>
        <button class="btn save">Save</button>
      </section>


  </div>

  <div id="protofit">

      <div id="svg-wrap">
        <div class="input-wrap">
          <input type="text" name="testfit-name" class="name">
        </div>
        <div id='svg'>  
          <div id='svg-bg' class='bg'></div>
        </div>
      </div>


    <button class="btn deselect">Deselect All</button>

    <div id="project-north">
      <div id="north-arrow"></div>
      <span>N</span>
    </div>

    <div id="loading" class="spin"></div>

    <aside>
      <div>
        <div id="project-title"></div>
        <div id="project-address"></div>
        <hr />
        <div id="project-logo"></div>
        <hr class="logo-hr" />
      </div>
      <div id="rsf">
        <div>
          <span>RSF</span>
          <input id="rsf-input" type="number" />
        </div>
        <hr />
      </div>
      <div id="info"></div>
      <hr />
      <div id="measurement">
      </div>
      <div class="grow"></div>
      <div class="info-buttons">
        <button id="share-btn" class="btn share">Share…</button>
        <button id="change-btn" class="btn measure change">Request a Change</button>
      </div>
      <div id="powered-by">
        <hr />
        <span class="uppercase">Powered by </span><span class="logotype">Floored</span>
      </div>
    </aside>

  </div>
</div>
{% endblock %}