{% extends "layouts/main.html" %}

{% block head %}{% endblock %}

{% block body %}

<div id="home">

    <div class="bg"></div>

<!--     <header id="site-header">
      <div class="logo"></div>
      <div class="login">Log In</div>
    </header>
 -->
    <div id="hero">
      <h1>Protofit</h1>
      <h3>By Floored</h3>
      <div id="login">
        {% if message | length > 0 %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
          </div> 
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn edit">Login</button>
        </form>
      </div>
    </div>


</div>

{% endblock %}