{% extends "layouts/main.html" %}

{% block head %}{% endblock %}

{% block body %}
<div id="app" class="loading">
    <div id="panel">
      <div id="actions">
        <section id="layouts">
          <div>
            <h3>Choose a Layout</h3>
          <ul id="layout-list"></ul>
        </div>
        <button id="layout-next-btn" class="btn next">Next</button>
      </section>
      <section id="editor" class="no-selection">
        <button id="editor-back-btn" class="btn back">Start Over</button>
        <hr />
        <div>
          <div class="replace">
            <div class="grow">
              <div class="headers">
                <h3>Replace With…</h3>
                <span>Click on a tile to select&nbsp;it.</span>
              </div>
              <ul id="editor-list">
              </ul>
            </div>
            <button id="editor-done-btn" class="btn deselect">Deselect All</button>
          </div>
          <div class="style">
            <h3>Choose a Style</h3>
            <ul id="style-list">
              <li>Tech</li>
              <li>Creative</li>
              <li>Finance</li>
              <li>Law</li>
              <li>Corporate</li>
            </ul>
          </div>
        </div>
        <hr />
        <!-- <button id="measure-btn" class="btn measure">Measure</button> -->
        <button id="merge-btn" class="btn merge measure">Merge</button>
        <button id="split-btn" class="btn measure">Split</button>
        <button id="share-btn" class="btn share">Share…</button>
        <button id="change-btn" class="btn measure change">Request a Change</button>
      </section>
    </div>
  </div>
  <div id="protofit">
    <div id="svg-wrap">
      <div id='svg'>  
        <div id='svg-bg' class='bg'></div>
      </div>
    </div>
    <div id="project-north">
      <div id="north-arrow"></div>
      <span>N</span>
    </div>
    <div id="loading" class="spin"></div>
    <aside>
      <div>
        <div id="project-title"></div>
        <div id="project-address"></div>
        <hr />
        <div id="project-logo"></div>
        <hr class="logo-hr" />
      </div>
      <div id="rsf">
        <div>
          <span>RSF</span>
          <input id="rsf-input" type="number" />
        </div>
        <hr />
      </div>
      <div id="info"></div>
      <hr />
      <div id="measurement">
      </div>
      <div class="grow"></div>
      <div id="powered-by">
        <hr />
        <span class="uppercase">Powered by </span><span class="logotype">Floored</span>
      </div>
    </aside>
  </div>
</div>
{% endblock %}