{% extends "layouts/main.html" %}

{% block head %}{% endblock %}

{% block body %}

<div class="show-page">

  <header>
    <h1>{{ building.name }}</h1>
    <table>
      <tr>
        <td>Name</td> <td>{{ buliding.name }}</td>
      </tr>
      <tr>
        <td>Address</td> <td>{{ building.address }}</td>
      </tr>
    </table>
  </header>

  <div>
    <h2>Floors</h2>
    <a href='floors/new'>Add new</a>

    <table>
      <tr>
        <th>Number</th>
      </tr>
      {% for floor in building.floors %}
        <tr>
          <td>{{ floor.number }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

<div class="show-page">

{% endblock %}