#protofit aside
    order 2
    color #6C668B
    width 25%
    display flex
    flex-direction column
    justify-content space-between
    box-sizing border-box
    border 1px solid red

#project-title
  ApercuLight()
  h3
    font-size 1.05em
    padding-bottom 0.5rem
    opacity 0.8

#project-address
  text-align center
  ApercuLight()
  opacity .45
  
#project-logo
  height 100px
  margin 2rem
  background-size contain
  opacity 0.4
  background-repeat no-repeat
  

#powered-by
  padding 1rem
  text-align center
  
  .uppercase
    ApercuLight()
    text-transform uppercase
    letter-spacing 0.2em
    font-size 0.825em
    opacity .25

  .logotype
    ApercuBold()
    letter-spacing -0.02em
    font-size 1.1em
    opacity .20
    
#project-north
  position relative
  width 5rem
  height 5rem
  opacity 0.5

  div
    absolute100()
    background-image url('../img/north-arrow.svg')
    background-repeat no-repeat
  
  span
    position absolute
    top 50%
    left 50%
    transform translateX(-55%) translateY(-50%)
    ApercuLight()
    font-size 0.75em
    
#info
  padding 1rem
  box-sizing border-box

  table
    width 100%
    color #6C668B
    line-height 1.35rem
    font-feature-settings 'pnum' 1, 'liga' 0
    -webkit-font-feature-settings 'pnum' 1, 'liga' 0
    -moz-font-feature-settings 'pnum' 1, 'liga' 0
    td:last-of-type
      text-align right
      
  .benching
    background #EFEEF3
    
  .breakout td:last-of-type 
    background #EFF5EF
    
  .conference td:last-of-type
    background #EFF2FE
    
  .office td:last-of-type
    background #F9F8F5
    
  .shell td:last-of-type
    background #FCF3F6