#info
  padding 1rem
  box-sizing border-box

  table
    width 100%
    color #6C668B
    line-height 1.35rem
    font-feature-settings 'pnum' 1, 'liga' 0
    -webkit-font-feature-settings 'pnum' 1, 'liga' 0
    -moz-font-feature-settings 'pnum' 1, 'liga' 0
    td:last-of-type
      text-align right
      
  .benching
    background #EFEEF3
    
  .breakout td:last-of-type 
    background #EFF5EF
    
  .conference td:last-of-type
    background #EFF2FE
    
  .office td:last-of-type
    background #F9F8F5
    
  .shell td:last-of-type
    background #FCF3F6