absolute100()
  position absolute
  width 100%
  height 100%
  
Apercu()
  font-family "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal  
  
ApercuLight()
  font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal
    
ApercuBold()
  font-family "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal