absolute100()
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  
Apercu()
  font-family "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal  
  
ApercuLight()
  font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal
    
ApercuBold()
  font-family "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal
  
cellColors(c)
  fill tint(c, 92%)
  &[data-hover="1"]
    fill tint(c, 40%)
  &[data-selected="1"]
    fill tint(c, 20%)

