panelWidth = 20%
appWidth = 100% - panelWidth

body
  margin 0
  font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
  font-smoothing antialiased
  text-rendering optimizeLegibility

#app
  height 100%
  background-color #EFEFF6
  
h3
  margin 0
  padding 1rem 1rem 1rem 1rem
  font-weight normal
  text-transform uppercase
  letter-spacing 0.2em
  text-align center