@import url('./svg.select.css');
@import nib
@import mixins
@import legend

panelWidth = 20%
appWidth = 100% - panelWidth

body
  margin 0
  font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
  font-smoothing antialiased
  text-rendering optimizeLegibility

#app
  height 100%
  background-color #EFEFF6

#protofit
  position absolute
  width calc(80% - 1rem)
  height calc(100% - 2rem)
  margin 1rem 1rem 1rem 0
  right 0
  box-sizing border-box
  background #fbfbff
  box-shadow 0 1px 6px rgba(0,0,8,0.05)
  border 1px solid rgba(0,0,8,0.1)
  overflow hidden
  user-select none

  > svg 
    filter drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.066))
    -webkit-filter drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.066))
    backface-visibility hidden
    
  .plan-layer
    pointer-events none
    
  &.dragging .cell
    transition fill 0.15s ease

  .cell
    stroke #ffffff
    transition fill 0.4s ease

    &[data-layer="0"] //benching
      fill #EFEEF3
      &.selected
        fill #CFC5C8
        
    &[data-layer="1"] //breakout
      fill #EFF5EF
      &.selected
        fill #B6D1B6
      
    &[data-layer="2"] //conference
      fill #EFF2FE
      &.selected
        fill #BECAE5
      
    &[data-layer="3"] //office
      fill #F9F8F5
      &.selected
        fill #E8D9A4
        
    &[data-layer="4"] //empty
      fill #FCF3F6
      &.selected
        fill #DAC2CA

h3
  margin 0
  padding 1rem 1rem 1rem 1rem
  font-weight normal
  text-transform uppercase
  letter-spacing 0.2em
  text-align center
        
#panel
  position absolute
  height 100%
  width panelWidth
  overflow hidden
  display flex
  flex-direction column
  justify-content space-between
  color #6C668B
  font-feature-settings 'liga' 0
  -webkit-font-feature-settings 'liga' 0
  -moz-font-feature-settings 'liga' 0
  
  h3
    font-size 0.875em

  hr
    width 100%
    border none
    border-top 1px dotted rgba(0,0,8,0.1)
    margin 0

#actions 
  display flex
  flex-grow 1
  width 200%
  transform translateX(0)
  transition transform 0.5s ease
  user-select none
  
  &.show-benching
    transform translateX(-33.33%)
  &.show-editor
    transform translateX(-50%)

  section
    width 50%
    box-sizing border-box
    display flex
    flex-direction column
    
    h3
      margin 0
      padding 1rem 1rem 1rem 1rem
      font-weight normal
      text-transform uppercase
      letter-spacing 0.2em
      font-size 0.875em
      text-align center

    >div 
      flex-grow 1

    ul
      list-style none
      margin 0 1rem
      padding 0
      background-color #fbfbff
      border 1px solid rgba(0,0,8,0.1)
      border-radius 2px
      box-shadow 0 1px 6px rgba(0,0,8,0.05)
      
    li
      padding 1rem
      margin 0
      box-sizing border-box
      background-color rgba(250,250,255,0.25)
      border-bottom 1px solid rgba(0,0,8,0.1)
      border-top 1px solid #fff
      line-height 1.35rem
      cursor pointer
      transition background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease
      &:hover, &.active
        background-color #fff
        color #7270b1
      &.active
        font-family "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif
        font-weight bold
      &:last-of-type
        border-width 0
        
    button
      font-family "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif
      margin 1rem
      padding 1rem
      border none
      border-radius 3px
      border 1px solid rgba(0,0,8,0.1)
      outline none
      font-size 1em
      cursor pointer
      transition background-color 0.15s ease, color 0.15s ease
      &.next
        background-color #7270b1
        color #fbfbff
        &:hover
          background-color #8782CF
          
      &.back
        font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
        background #fbfbff
        color #933E44
        &:hover
          background-color #fff
          color #EC5C4E
          
      &.share
        font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
        background #fbfbff
        color #20671E
        &:hover
          background-color #fff
          color #59B55C
  
      &:disabled
        font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
        background-color transparent !important
        cursor default
        color #827CA3 !important
          
#editor
  backface-visibility hidden
  > div
    display flex
    flex-direction column
    span
      Apercu()
      text-align center
      margin auto
      
  &.has-selection
    .has-selection
      display block
    .no-selection
      display none

  &.no-selection
    .has-selection
      display none
    .no-selection
      display block

#project-info
  position absolute
  text-align center
  background transparent
  left 50%
  transform translateX(-50%)
  color #6C668B
  
#project-title
  ApercuLight()
  h3
    font-size 1.05em
    padding-bottom 0.5rem
    opacity 0.8

#project-address
  ApercuLight()
  opacity .45

#powered-by
  position absolute
  bottom 0
  padding 1rem
  text-align center
  left 50%
  transform translateX(-50%)
  
  .uppercase
    ApercuLight()
    text-transform uppercase
    letter-spacing 0.2em
    font-size 0.825em
    opacity .25

  .logotype
    ApercuBold()
    letter-spacing -0.02em
    font-size 1.1em
    opacity .20
    
#project-north
  position absolute
  bottom -1rem
  right -0.9rem
  width 5rem
  height 5rem
  opacity 0.5

  div
    absolute100()
    background-image url('../img/north-arrow.svg')
    background-repeat no-repeat
  
  span
    position absolute
    top 50%
    left 50%
    transform translateX(-55%) translateY(-50%)
    ApercuLight()
    font-size 0.75em