@import url('./svg.select.css');
@import mixins

panelWidth = 20%
appWidth = 100% - panelWidth

body
  margin 0
  font-family "Helvetica Neue", Helvetica, sans-serif

#protofit
  position absolute
  height 100%
  width appWidth
  right 0
  // svg 
  //   path, line, shape 
  //     stroke #000000
  .cell
    stroke #ffffff
    fill rgba(113, 111, 176, 0.1)

#panel
  position absolute
  height 100%
  width panelWidth
  overflow hidden
  display flex
  flex-direction column
  justify-content space-between
  background-color #191926
  color #8a8994

#actions 
  display flex
  flex-grow 1
  width 300%
  transform translateX(0)
  transition transform 0.5s ease
  
  section
    width 33.33%
    box-sizing border-box
    display flex
    flex-direction column
    ul
      list-style none
      margin 0
      padding 0
      flex-grow 1
    li
      padding 1em
      box-sizing border-box
      background-color rgba(250,250,255,0.1)
      border-bottom 1px solid #191926
      cursor pointer
      &:hover
        background-color rgba(250,250,255,0.2)
        color #ced0e8
      &.active
        background-color rgba(250,250,255,0.5)
        color #fafaff
        
    button
      height 4em
      width 100%
      background-color #7270b1
      border none
      cursor pointer
      &:disabled
        background-color rgba(250,250,255,0.2)
      
  
  &.show-benching
    transform translateX(-33.33%)
  &.show-editor
    transform translateX(-66.66%)

    
#info
  background-color rgba(0,0,8,0.1)
  
#layouts
  background-color rgba(0,0,8,0.1)

#benching
  background-color rgba(0,0,8,0.2)
  
#editor
  background-color rgba(0,0,8,0.3)