#app.loading #panel
  opacity 0.33
  pointer-events none  

// #app[data-mergeSupported = 1]
//   #actions section button.merge
//     display block


#panel
  position absolute
  height 100%
  width panelWidth
  overflow hidden
  display flex
  flex-direction column
  justify-content space-between
  color #6C668B
  transition opacity 0.33s ease-out
  font-feature-settings 'liga' 0
  -webkit-font-feature-settings 'liga' 0
  -moz-font-feature-settings 'liga' 0
  
  h3
    font-size 0.875em


#actions 
  overflow scroll
  display flex
  flex-grow 1
  width 200%
  transform translateX(0)
  transition transform 0.5s ease
  user-select none
  
  &.show-benching
    transform translateX(-33.33%)
  &.show-editor
    transform translateX(-50%)

  section
    width 50%
    box-sizing border-box
    display flex
    flex-direction column
    
    h3
      margin 0
      padding 1rem 1rem 1rem 1rem
      font-weight normal
      text-transform uppercase
      letter-spacing 0.2em
      font-size 0.875em
      text-align center

    > div 
      flex-grow 1

    ul
      list-style none
      margin 0 1rem
      padding 0
      border 1px solid rgba(0,0,8,0.1)
      border-radius 2px
      box-shadow 0 1px 6px rgba(0,0,8,0.05)
      
    li
      padding 1rem
      margin 0
      box-sizing border-box
      background-color #fbfbff
      border-bottom 1px solid rgba(0,0,8,0.1)
      border-top 1px solid #fff
      line-height 1.35rem
      cursor pointer
      transition background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease
      &:hover, &.active
        background-color #fff
        color #7270b1
      &.active
        font-family "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif
        font-weight bold
      &:last-of-type
        border-width 0
        
    button
      ApercuLight()
      margin 1rem
      padding 1rem
      border none
      border-radius 2px
      border 1px solid rgba(0,0,8,0.1)
      outline none
      font-size 1em
      cursor pointer
      transition background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease
      &.next
        ApercuBold()
        background-color #7270b1
        color #fbfbff
        &:hover
          background-color #8782CF
          
      &.back
        background #fbfbff
        color #933E44
        &:hover
          background-color #fff
          color #EC5C4E
          
      &.deselect
        background #fbfbff
        color #7270B1
        margin-bottom 0px
        &:hover
          background-color #fff
          color #514AAE
          
      &.merge
        // display none
        background #fbfbff
        color #42586C
        &:hover
          background-color #fff
          color #4F90CD
          
      &.measure
        // display none
        background #fbfbff
        color #7270B1
        margin-bottom 0
        &[data-measuring="1"]
          background-color #7270B1
          color #fbfbff
          box-shadow inset 0 2px 0 rgba(0,0,8,0.2)
          &:hover
            background-color #9D9BCF
            color #fbfbff
        &:hover
          background-color #fff
          color #514AAE

      &.model
        margin 1rem .5rem 1rem 1rem
        max-width 50%
        box-sizing border-box
        background #fbfbff
        color #42586C
        flex-grow 1
        &:hover
          background-color #fff
          color #4F90CD
          
      &.share
        margin 1rem 1rem 1rem .5rem
        max-width 50%
        box-sizing border-box
        background #fbfbff
        color #20671E
        flex-grow 1
        &:hover
          background-color #fff
          color #59B55C
  
      &:disabled
        ApercuLight()
        background-color transparent !important
        cursor default
        color #827CA3 !important

          
#editor
  min-height 660px
  > div 
    position relative
    > div
      display flex
      flex-direction column

  h3, button.deselect
    transition opacity 0.15s ease, color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease
  
  .headers
    position relative
    span
      padding 0 1rem
      box-sizing border-box
      position absolute
      width 100%
      text-align center
      Apercu()
      top 50%
      transform translateY(-50%)
      transition opacity 0.15s ease
      
  ul
    backface-visibility hidden
    position relative
    transition box-shadow 0.15s ease, border-color 0.15s ease
    span
      backface-visibility hidden
      Apercu()
      text-align center
      position absolute
      top 50%
      left 50%
      width 100%
      transform translateX(-50%) translateY(-50%)
  
  li
    backface-visibility hidden
    transition opacity 0.15s ease
  
  &.has-selection
    .headers span
      opacity 0
    h3
      transition opacity 0.15s ease 0.15s
              
  &.no-selection
    .headers span
      transition opacity 0.15s ease 0.15s
    .replace h3
      opacity 0
    #editor-list li, button.deselect, button.merge
      background-color transparent !important
      cursor default
      color rgba(0,0,8,0.3) !important
      pointer-events none
    #editor-list li
      border-color rgba(0,0,8,0.1) transparent transparent transparent
      border-width 1px 0
      &:first-of-type
        border-width 0 0 1px 0
      &:last-of-type
        border-width 1px 0 0 0
    ul
      box-shadow 0 1px 6px rgba(0,0,8,0)

  .replace
    absolute100()
    transition opacity 0.15s ease 0.15s
    .grow
      flex-grow 1
      display flex
      flex-direction column

    
  .style
    absolute100()
    opacity 0
    pointer-events none
    transition opacity 0.15s ease
    
  .two-up
    display flex
    flex-grow 0
    

#app.three-d #editor
  .replace
    opacity 0
    pointer-events none
    transition opacity 0.15s ease
  .style 
    opacity 1
    pointer-events all
    transition opacity 0.15s ease 0.15s
      
#loading
  position absolute
  width 4rem
  height 4rem
  top calc(50% - 2rem)
  left calc(40% - 2rem)
  background-image url('../img/loading.svg')
  background-size contain
  background-repeat no-repeat
  opacity 0
  transition opacity 0.33s ease
  pointer-events none
  backface-visibility hidden
  &.spin
    animation spin 1s infinite linear

#app.loading #loading
  opacity 0.4


@keyframes spin
  from transform rotate(0deg)
  to   transform rotate(360deg)
    
@media screen and (max-height:768px)
  #actions section
    li, button
      padding-top 0.75rem
      padding-bottom 0.75rem