a
  color #7270b1

.page-wrap
  display flex
  flex-direction row
  min-height 100% 

aside.sidebar
  width 10vw
  background #242137

.show-page
  background #fafaff
  flex-grow 1
  height 100%
  padding 2rem 4rem

  > div, > table
    padding 0 0 1rem 0

  > header
    margin-bottom 3rem
    h1
      margin-top 0
      color #B8B5CF
    
  header h2
    margin-top 0

  table
    margin-top 1rem
    th, td 
      padding 0 1rem .5rem 0

  .flex-row
    display flex
    flex-direction row
    align-items center
    
    >h1, >h2
      margin 0
    > div
      margin-right 2rem
    .grow 
      flex-grow 1


.organizations  
    
  .building
    margin-bottom 1rem
    padding .5rem 0
    border-bottom 1px solid rgba(0,0,10, 0.1)
    &:first-of-type
      margin-top 1rem
    &:hover 
      background #fff
    
    table
      margin-left .75rem
  
  .floor td:first-child
    padding-right 1.5rem  