.show-page
  > header, > div, > table
    padding 1rem
    
  table
    margin-top 1rem
    th, td 
      padding .5rem 1rem .5rem 0

  .flex-row
    display flex
    flex-direction row
    > div
      margin-right 2rem
    