#app.three-d
  #svg
    display none
  #project-north
    display none


#protofit
  position absolute
  display flex
  width calc(80% - 1rem)
  height calc(100% - 2rem)
  margin 1rem 1rem 1rem 0
  right 0
  box-sizing border-box
  background #fbfbff
  box-shadow 0 1px 6px rgba(0,0,8,0.05)
  border 1px solid rgba(0,0,8,0.1)
  overflow hidden
  user-select none
    
  iframe
    width 100%
    height 100%
    border none
    
  .plan-layer
    pointer-events none
    
  .bg
    filter drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.066))
    -webkit-filter drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.066))
    z-index -1

  .cell
    backface-visibility hidden
    stroke #ffffff
    fill transparent
    transition fill 0.15s ease
    cursor pointer

    &[data-layer="0"] //benching
      cellColors(#80808C, 80, 60, 35)
        
    &[data-layer="1"] //breakout
      cellColors(#59B55C)

    &[data-layer="2"] //conference
      cellColors(#4F90CD)
      
    &[data-layer="3"] //office
      cellColors(#FCBC3B, 97, 60, 20)
                
    &[data-layer="4"] //special
      cellColors(#FF6C3A)

    &[data-layer="5"] //empty
      cellColors(#7270B1)
      &[data-merged="1"]
        cellColors(#4F90CD)
        
    &[data-layer="6"], &[data-disabled="true"] //pantry / reception
      // fill tint(#EC5C4E, 94%)
      fill tint(#A9519F, 94%)
      cursor default
      &:hover, &[data-hover="1"]
        fill tint(#A9519F, 94%)
      &[data-selected="1"]
        fill tint(#A9519F, 94%)
 
      

#svg-wrap
  width 100%
  height 100%
  box-sizing border-box 
  padding 2rem
  position relative
  

#svg
  width calc(100% - 4em)
  height auto
  opacity 1
  transition opacity 0.66s ease 0.2s
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
  
  div 
    absolute100()
    backface-visibility
    background-size contain
    background-repeat no-repeat
    pointer-events none

  > svg 
      backface-visibility hidden
      width 100%
      height auto
        


#app.loading #svg
  opacity 0

#project-north
  position absolute
  bottom 1rem
  right calc(20% + 1.5rem)
  width 2.5rem
  height 2.5rem
  opacity 0.5
  transition opacity 1s ease, transform 1.66s ease-out

  div
    absolute100()
    background-image url('../img/north-arrow.svg')
    background-size contain
    background-repeat no-repeat
    transition transform 2s ease-out
  
  span
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    Franklin()
    font-size 0.8em
    
#app.loading #project-north
  opacity 0
  transition opacity 1s ease, transform 1.66s ease-out
  transform scale(0.5, 0.5)

  div 
    transform rotate(810deg) !important
    transition transform 2s ease-out
