#home
  background #fafaff
  padding-top 3rem
  box-sizing border-box
  height 100%
  color purple60 
  
  #hero
    position relative
    .bg
      absolute100()
      background purple70 url('../img/plan-pattern.svg')