absolute100()
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  
Apercu()
  font-family "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal  
  
ApercuLight()
  font-family "Apercu Light", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal
    
ApercuBold()
  font-family "Apercu Bold", "Helvetica Neue", Helvetica, sans-serif
  font-weight normal
  
Franklin()
  font-family "franklin-gothic-urw", "Helvetica Neue", Helvetica, sans-serif
  font-weight 400  

FranklinLight()
  font-family "franklin-gothic-urw", "Helvetica Neue", Helvetica, sans-serif
  font-weight 300  

FranklinMedium()
  font-family "franklin-gothic-urw", "Helvetica Neue", Helvetica, sans-serif
  font-weight 500  
  
FranklinBold()
  font-family "franklin-gothic-urw", "Helvetica Neue", Helvetica, sans-serif
  font-weight 700  
  
  
cellColors(c, def = 92, hov = 65, sel = 45)
  fill tint(c, def)
  &:hover, &[data-hover="1"]
    fill tint(c, hov)
  &[data-selected="1"]
    fill tint(c, sel)

