@media print

  #app
    background transparent

  #panel
    display none
    
  #protofit
    width 100%
    height 100%
    background transparent
    margin 0
    border none
    -webkit-print-color-adjust: exact
    border 1px solid rgba(0,0,8,0.25)
    aside
      width 15%
      font-size 0.55em
      line-height 1
    .cell
      pointer-events none

  #info
    padding 0 1em
    table
      width 100%
      line-height 1rem
      tr
        margin-top .1rem
    
  #svg-wrap
    display flex
    flex-direction column
    justify-content center
    
  #svg
    width calc(100% - 2rem)
    height auto
    position inline
    top 0
    left 0
    transform none
  
  #rsf input
    border none
    font-size 1.1em
  
  #project-address, #project-logo
    opacity 1
  
  #protofit aside
    border-left 1px solid rgba(0,0,8,0.25)
    button
      display none
  
  #editor-done-btn
    display none

  hr
    border-color rgba(0,0,8,0.25)
