panelWidth = 20%
appWidth = 100% - panelWidth  

html, body
  width 100%
  height 100%

html
  font-size 100%

body
  margin 0
  font-size 16px
  Franklin()
  font-smoothing antialiased
  text-rendering optimizeLegibility

#app
  height 100%
  background-color #EFEFF6

h1
  FranklinLight()
  font-size 3rem
  letter-spacing -0.01rem
    
h2
  FranklinBold()
  font-size 1.75rem
  
h3
  Franklin()
  font-size 1.5rem
  text-transform uppercase
  letter-spacing 0.1em
  
h4
  margin 0
  Franklin()
  font-size 0.875rem
  text-transform uppercase
  letter-spacing 0.1em
  
hr
  width 100%
  border none
  border-top 1px dotted rgba(0,0,8,0.1)
  margin 0