@import nib
@import mixins
@import sitewide
@import cms
@import ui
@import floorplan
@import info-sidebar
@import url('./svg.select.css');

#shell
  position absolute
  width 1000px
  height 500px
  background-image: url('../data/floored/test/shell.svg');
  background-repeat no-repeat
  background-size contain
  pointer-events none

#breakout
  position absolute
  width 1000px
  height 500px
  background-image: url('../data/floored/test/breakout.svg');
  background-repeat no-repeat
  background-size contain
  pointer-events none
  
#conference
  position absolute
  width 1000px
  height 500px
  background-image: url('../data/floored/test/conference.svg');
  background-repeat no-repeat
  background-size contain
  pointer-events none
  
#clips
  position absolute
  width 1000px
  height 500px
