#app.loading #panel
  opacity 0.33
  pointer-events none  

#panel
  position absolute
  width 20%
  height 100%
  overflow hidden
  display flex
  flex-direction column
  justify-content space-between
  color #6C668B
  transition opacity 0.33s ease-out
  font-feature-settings 'liga' 0
  -webkit-font-feature-settings 'liga' 0
  -moz-font-feature-settings 'liga' 0
  
  &.show-new section.new
    display block 
    
  &.show-editor
    > div 
      transform translateX(-50%)
  
  h3
    font-size 0.875em

  > div 
    overflow scroll
    display flex
    flex-grow 1
    width 200%
    transform translateX(0)
    transition transform 0.5s ease
    user-select none
    // &::-webkit-scrollbar
    //   width: 12px
    // &::-webkit-scrollbar-track
    //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    //   -webkit-border-radius: 10px;
    //   border-radius: 10px;
  
    &.show-benching
      transform translateX(-33.33%)
    &.show-editor
      transform translateX(-50%)

  section
    width 50%
    box-sizing border-box
    display flex
    flex-direction column
    position relative
    
    h3
      margin 0
      padding 1rem 1rem 1rem 1rem
      font-weight normal
      text-transform uppercase
      letter-spacing 0.2em
      font-size 0.875em
      text-align center
      min-height 3rem

    > div 
      flex-grow 1

    button.new, button.close
      position absolute
      top 0
      width 2rem
      height 2rem
      margin .5rem
      padding 0
      border-radius 50%
      font-size 1rem
      FranklinBold()
      
    button.new
      right 0
      
    button.close
      left 0
      
    .scroll
      overflow scroll

    ul
      list-style none
      margin 0 0 1rem 0
      border 1px solid rgba(0,0,8,0.1)
      border-width 1px 0
      padding 0
      background-color #fafafe
      &:last-of-type
        margin-bottom 0
      
    li
      padding 0.75rem 1rem
      margin 0
      box-sizing border-box
      line-height 1.35rem
      cursor pointer
      transition background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease
      position relative
      &:after
        content ''
        width calc(100% - 2rem)
        height 1px
        position absolute
        left 1rem
        bottom 0
        background rgba(0,0,8,0.1)
        
      &:hover, &.active
        background-color #fff
        color #7270b1
        .btn.x
          opacity 1
          transform translateY(-50%)

      &.active
        FranklinBold()
      &:last-of-type:after
        background transparent
        
      .btn.x
        position absolute
        top 50%
        right 1rem
        margin 0
        opacity 0
        transform translateX(50%) translateY(-50%)
          
    
    &.new
      absolute100()
      width 50%
      display none
      background-color #EFEFF6

    &.editor
      min-height 600px
      > div 
        position relative
        > div
          display flex
          flex-direction column

      p 
        text-align center

      h3, button.deselect
        transition opacity 0.15s ease, color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease
      
      header
        position relative
        span
          box-sizing border-box
          position absolute
          width 100%
          text-align center
          Franklin()
          top 50%
          transform translateY(-50%)
          transition opacity 0.15s ease
        
      &.has-selection
        header span
          opacity 0
        h3
          transition opacity 0.15s ease 0.15s
                  
      &.no-selection
        header
          span
            transition opacity 0.15s ease 0.15s
          h3
            opacity 0
        li, button.deselect, button.merge
          background-color transparent !important
          cursor default
          color rgba(0,0,8,0.3) !important
          pointer-events none
        li
          border-color rgba(0,0,8,0.1) transparent transparent transparent
          border-width 1px 0
          &:first-of-type
            border-width 0 0 1px 0
          &:last-of-type
            border-width 1px 0 0 0
          
      &.no-merge-big .big li
        background-color transparent !important
        cursor default
        color rgba(0,0,8,0.3) !important
        pointer-events none
        border-color rgba(0,0,8,0.1) transparent transparent transparent
        border-width 1px 0
        &:first-of-type
          border-width 0 0 1px 0
        &:last-of-type
          border-width 1px 0 0 0 
        

      
#loading
  position absolute
  width 4rem
  height 4rem
  top calc(50% - 2rem)
  left calc(40% - 2rem)
  background-image url('../img/loading.svg')
  background-size contain
  background-repeat no-repeat
  opacity 0
  transition opacity 0.33s ease
  pointer-events none
  backface-visibility hidden
  &.spin
    animation spin 1s infinite linear

#app.loading #loading
  opacity 0.4


@keyframes spin
  from transform rotate(0deg)
  to   transform rotate(360deg)
    
@media screen and (max-height:768px)
  #panel > div section
    li, button
      padding-top 0.5rem
      padding-bottom 0.5rem