#app.loading #panel
  opacity 0.33
  pointer-events none  

#panel
  position absolute
  width 20%
  height 100%
  overflow hidden
  display flex
  flex-direction column
  justify-content space-between
  color #6C668B
  transition opacity 0.33s ease-out
  font-feature-settings 'liga' 0
  -webkit-font-feature-settings 'liga' 0
  -moz-font-feature-settings 'liga' 0
  
  &.show-new section.new
    display block 
    
  &.show-editor
    > div 
      transform translateX(-50%)
  
  h3
    font-size 0.875em

  > div 
    overflow scroll
    display flex
    flex-grow 1
    width 200%
    transform translateX(0)
    transition transform 0.5s ease
    user-select none
    // &::-webkit-scrollbar
    //   width: 12px
    // &::-webkit-scrollbar-track
    //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    //   -webkit-border-radius: 10px;
    //   border-radius: 10px;
  
    &.show-benching
      transform translateX(-33.33%)
    &.show-editor
      transform translateX(-50%)

  section
    width 50%
    box-sizing border-box
    display flex
    flex-direction column
    position relative
    
    h3
      margin 0
      padding 1rem 1rem 1rem 1rem
      font-weight normal
      text-transform uppercase
      letter-spacing 0.2em
      font-size 0.875em
      text-align center

    > div 
      flex-grow 1

    button.new, button.close
      position absolute
      top 0
      width 2rem
      height 2rem
      margin .5rem
      padding 0
      border-radius 50%
      background transparent
      font-size 1rem
      FranklinBold()
      
    button.new
      right 0
      
    button.close
      left 0
      
    ul
      list-style none
      margin 0 0 1rem 0
      padding 0
      border 1px solid rgba(0,0,8,0.1)
      border-width 1px 0
      background-color #fafafe
      &:last-of-type
        margin-bottom 0
      
    li
      padding 0.75rem 1rem
      margin 0
      box-sizing border-box
      line-height 1.35rem
      cursor pointer
      transition background-color 0.15s ease, color 0.15s ease, border-color 0.15s ease
      position relative
      &:after
        content ''
        width calc(100% - 2rem)
        height 1px
        position absolute
        left 1rem
        bottom 0
        background rgba(0,0,8,0.1)
        
      &:hover, &.active
        background-color #fff
        color #7270b1
      &.active
        FranklinBold()
      &:last-of-type:after
        background transparent
    
    &.new
      absolute100()
      width 50%
      display none
      background-color #EFEFF6

      
    &.editor
      min-height 600px
      > div 
        position relative
        > div
          display flex
          flex-direction column

      h3, button.deselect
        transition opacity 0.15s ease, color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease
      
      .headers
        position relative
        span
          box-sizing border-box
          position absolute
          width 100%
          text-align center
          Franklin()
          top 50%
          transform translateY(-50%)
          transition opacity 0.15s ease
        
button, .btn
  Franklin()
  margin .5rem
  padding 0.75rem 1rem
  border none
  border-radius 2px
  border 1px solid rgba(0,0,8,0.1)
  outline none
  font-size 1em
  letter-spacing 0.035em
  cursor pointer
  transition background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease, opacity 0.15s ease
  &:active, &:focus
    outline none !important
  &.next
    FranklinBold()
    background-color #7270b1
    color #fbfbff
    &:hover
      background-color #8782CF
      
  &.back
    background rgba(250,250,255,0.55)
    color #933E44
    &:hover
      background-color #fff
      color #EC5C4E
      
  &.deselect
    background #fbfbff
    color #7270B1
    &:hover
      background-color #fff
      color #514AAE
      
  &.merge
    // display none
    background #fbfbff
    color #42586C
    &:hover
      background-color #fff
      color #4F90CD
      
  &.measure
    // display none
    background #fbfbff
    color #7270B1
    margin-bottom 0
    &[data-measuring="1"]
      background-color #7270B1
      color #fbfbff
      box-shadow inset 0 2px 0 rgba(0,0,8,0.2)
      &:hover
        background-color #9D9BCF
        color #fbfbff
    &:hover
      background-color #fff
      color #514AAE
      
  &.share
    margin 1rem
    box-sizing border-box
    background #fbfbff
    color #20671E
    &:hover
      background-color #fff
      color #59B55C
      
  &.change
    margin 0 1rem 1rem 1rem

  &:disabled
    FranklinLight()
    background-color transparent !important
    cursor default
    color #827CA3 !important

          
&.editor
  min-height 600px
  > div 
    position relative
    > div
      display flex
      flex-direction column

  h3, button.deselect
    transition opacity 0.15s ease, color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease
  
  .headers
    position relative
    span
      box-sizing border-box
      position absolute
      width 100%
      text-align center
      Franklin()
      top 50%
      transform translateY(-50%)
      transition opacity 0.15s ease
  
  &.has-selection
    .headers span
      opacity 0
    h3
      transition opacity 0.15s ease 0.15s
              
  &.no-selection
    .headers span
      transition opacity 0.15s ease 0.15s
    .replace h3
      opacity 0
    .editor-list li, button.deselect, button.merge
      background-color transparent !important
      cursor default
      color rgba(0,0,8,0.3) !important
      pointer-events none
    .editor-list li
      border-color rgba(0,0,8,0.1) transparent transparent transparent
      border-width 1px 0
      &:first-of-type
        border-width 0 0 1px 0
      &:last-of-type
        border-width 1px 0 0 0
    ul
      box-shadow 0 1px 6px rgba(0,0,8,0)
      
  &.no-merge-medium .editor-list.medium
      box-shadow 0 1px 6px rgba(0,0,8,0)
      li
        background-color transparent !important
        cursor default
        color rgba(0,0,8,0.3) !important
        pointer-events none
        border-color rgba(0,0,8,0.1) transparent transparent transparent
        border-width 1px 0
        &:first-of-type
          border-width 0 0 1px 0
        &:last-of-type
          border-width 1px 0 0 0 
     
  &.no-merge-large .editor-list.large
      box-shadow 0 1px 6px rgba(0,0,8,0)
      li
        background-color transparent !important
        cursor default
        color rgba(0,0,8,0.3) !important
        pointer-events none
        border-color rgba(0,0,8,0.1) transparent transparent transparent
        border-width 1px 0
        &:first-of-type
          border-width 0 0 1px 0
        &:last-of-type
          border-width 1px 0 0 0 
          &:first-of-type
            border-width 0
    

  .replace
    absolute100()
    transition opacity 0.15s ease 0.15s
    .grow
      flex-grow 1
      display flex
      flex-direction column
    span
      text-align center
      padding 1rem
      

    
  .style
    absolute100()
    opacity 0
    pointer-events none
    transition opacity 0.15s ease
    
  .two-up
    display flex
    flex-grow 0
    

#app.three-d #editor
  .replace
    opacity 0
    pointer-events none
    transition opacity 0.15s ease
  .style 
    opacity 1
    pointer-events all
    transition opacity 0.15s ease 0.15s
      
#loading
  position absolute
  width 4rem
  height 4rem
  top calc(50% - 2rem)
  left calc(40% - 2rem)
  background-image url('../img/loading.svg')
  background-size contain
  background-repeat no-repeat
  opacity 0
  transition opacity 0.33s ease
  pointer-events none
  backface-visibility hidden
  &.spin
    animation spin 1s infinite linear

#app.loading #loading
  opacity 0.4


@keyframes spin
  from transform rotate(0deg)
  to   transform rotate(360deg)
    
@media screen and (max-height:768px)
  #panel > div section
    li, button
      padding-top 0.5rem
      padding-bottom 0.5rem